.Phonetic {
    height: 50px;
}

.Phonetic a {
    border: 1.5px solid rgb(88, 88, 88);
    text-decoration: none;
    border-radius: 5px;
    padding: 4px 9px;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.3);
    color: black;
    transition: all 160ms ease-in-out;
    font-weight:500;
    margin-right: 20px;
}

.Phonetic a:hover {
    background:rgb(182, 179, 179);
    color: rgb(230, 230, 230);
}